{% extends "user/base.html" %}
{% block mainContent %}
<div class="row align-items-center">
  <div class="col lg-6">
    <h2>Usuarios</h2>
  </div>
  <div class="col-lg-6 end">
    <a href="{% url 'create_user' %}" class="btn btn-warning new-entry">Añadir un usuario</a>
  </div>  
</div>
<div class="col-lg-12 content">
  <table class="table">
    <thead class="tHEAD">
      <tr>
        <th scope="col">usuario</th>
        <th scope="col">nombre</th>
        <th scope="col">apellido</th>
        <th scope="col">email</th>
        <th scope="col">grupo</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
        <tr>
          <td class="td"><a href="{% url 'update_user' user.pk %}">{{ user.username }}</a></td>
          <td class="td">{{ user.first_name }}</td>
          <td class="td">{{ user.last_name }}</td>
          <td class="td">{{ user.email }}</td>
          <td class="td">{{ user.groups.all }}</td>
          <td>
            <form action="{% url 'delete_user' user.pk %}" method="POST" id="delete-form-{{user.pk}}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger delete" user-id="{{user.pk}}">Eliminar</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "pagination.html" %}
</div>      
<div class="row" style="margin:50px 0px;">
  <div class="col-sm-12 text-center">
    <button class="btn btn-danger btn-lg" onclick="window.history.back()">Regresar</button>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>¿Está seguro que desea eliminar el usuario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock mainContent %}

{% block javascript %}
  <script>
    $(document).ready(function (){
      var id
      $('.delete').on('click', function (e){
        e.preventDefault()
        $('#modal-confirm').modal()
        id = $(this).attr('user-id')
        console.log(id)
      })
      $('.modal-footer .btn-danger').on('click', function(){
        $('#delete-form-' + id).submit()
      })
    })
  </script>
{% endblock javascript %}

