{% extends "sector/base.html" %}
{% block mainContent %}
<div class="col-lg-12">
  <div class="row">
    <h3>Crear Sectores</h3>
  </div>
  <div class="col-lg-12 form">
    <form action="{% url 'create_sector' %}" method="POST">
      {%  csrf_token %}
      {{form.as_p}}
      <div class="col-lg-12 buttons">
        <input type="submit" class="btn btn-success" value="Guardar"> </input>
        <a href="{% url 'list_sector' %}" class="btn btn-danger cancel">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock mainContent %}
