{% extends "revisor/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <h3>Petroleos Mexicanos</h3>
      <p>actualizó su información, el 17 de Septiembre de 2017 a las 20:00</p>
    </div>
    <div class="col-sm-3">
      <div class="text-center" style="border: 2px solid red;">
        <p class="no-margin">Quedan 00 hr y 00 min</p>
        <p>para que finalize el plazo de validación.</p>
      </div>
    </div>
  </div>
  <div class="row title">
    <div class="col-sm-4">informacion anterior</div>
    <div class="col-sm-4">informacion actualizada</div>
    <div class="col-sm-4">validacion</div>
  </div>
  <div class="box box-solid box-default">
    <div class="box-header with-border">
      <h3 class="box-title">1. ¿La empresa publica en su página web un programa anticorrupción o de integridad</h3>
    <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row no-margin">
        <div class="col-sm-4">NO</div>
        <div class="col-sm-4">SI</div>
        <div class="col-sm-4">
          <p>Respuesta aceptada</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>    
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <div class="box box-solid box-default">
    <div class="box-header with-border">
      <h3 class="box-title">2. ¿La empresa publica en su página web una declaración o compromiso anticorrupción / cero tolerancia a la corrupción?</h3>
    <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row no-margin">
        <div class="col-sm-4">NO</div>
        <div class="col-sm-4">SI</div>
        <div class="col-sm-4">
          <p>Rechazada por ausencia de infromacion</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fuga eveniet sunt iure, quae! Vitae ea iure veniam ullam, alias harum sapiente blanditiis esse perferendis? Assumenda placeat ipsam in facilis!</p>
        </div>
      </div> 
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <div class="box box-solid box-default">
    <div class="box-header with-border">
      <h3 class="box-title">3. ¿La empresa publica en su página web una declaración o compromiso anticorrupción / cero tolerancia a la corrupción?</h3>
    <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row no-margin">
        <div class="col-sm-4">NO</div>
        <div class="col-sm-4">SI</div>
        <div class="col-sm-4 text-center">
          <div class="col-sm-6">
            <button>Aceptar</button>
            
          </div>
          <div class="col-sm-6">
            <button>Rechazar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <div class="row" style="margin-top: 40px;">
    <div class="col-sm-9">
      <button>ver resumen</button>
    </div>
    <div class="col-sm-3 text-center">
      <div class="col-sm-6">
        <button>actualizar</button>
      </div>
      <div class="col-sm-6">
        <button>cancelar</button>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 text-center"><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i>
 Regresar</a></div>
  </div>
{% endblock content %}

