{% extends "revisor/base.html" %}

{% block mainContent %}
<div class="row">
  <div class="col-sm-12">
    <div class="instructions">
      <div class="box-header with-border">
        <h3 class="box-title text-center uppercase">instrucciones para validar información</h3>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <p class="text-center no-margin">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et magnam veniam aperiam nostrum consequatur iusto ipsa enim rerum, omnis sit quam eveniet provident praesentium. Vel non tenetur eos ullam.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio architecto maiores porro veniam officiis, eum iste repudiandae neque ut odio vitae deserunt sed, debitis sunt inventore assumenda fugiat. Similique, soluta!
        </p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>  
<div class="row">
  <div class="col-sm-10 title">
    <h3 class="text-center uppercase">Cortes</h3>
    <hr>
    <hr>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-corte">Agregar Corte</button>
  </div>
</div>
<div class="row updates">
  <div class="col-sm-12">
    {% for cortes in object_list %}
    <div class="row align-items-center update">
      <div class="col-sm-9">
        <h3 class="no-margin"><a href="{% url 'corte' pk=cortes.pk %}">{{ cortes.fecha_de_corte }}</a></h3>
        <p>actualizó su información, el 17 de Septiembre de 2017 a las 20:00</p>
      </div>
      <div class="col-sm-3">
        <div class="time-left">
          <p class="text-center no-margin">{{cortes.aprovado}}</p>
          <p class="no-margin text-center">para que finalize el plazo de validación.</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% include "pagination.html" %}

<!-- Modal -->
<div class="modal fade" id="create-corte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccione la fecha de corte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'new-corte' %}" id="new-corte" method="POST">
          {% csrf_token %}
          <label for="fecha">Fecha de corte:</label>
          <input type="date" name="fecha" class="form-control" id="fecha" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="submit">Crear Corte</button>
      </div>
    </div>
  </div>
</div>

{% endblock mainContent %}
{% block javascript %}
  <script>
    $(document).ready(function (){
      $('#submit').click(function () {
        $('#new-corte').submit()
      })
    })
  </script>
{% endblock javascript %}