{% extends "revisor/base.html" %}

{% block mainContent %}
<div class="row">
  <div class="col-sm-12">
    <div class="instructions">
      <div class="box-header with-border">
        <h3 class="box-title text-center uppercase">instrucciones para validar información</h3>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <p class="text-center no-margin">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et magnam veniam aperiam nostrum consequatur iusto ipsa enim rerum, omnis sit quam eveniet provident praesentium. Vel non tenetur eos ullam.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio architecto maiores porro veniam officiis, eum iste repudiandae neque ut odio vitae deserunt sed, debitis sunt inventore assumenda fugiat. Similique, soluta!
        </p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>  
<div class="row">
  <div class="col-sm-10 title">
    <h3 class="text-center uppercase">Cortes</h3>
    <hr>
    <hr>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-lg">{{cuestionario.Corte.fecha_de_corte}}</button>
  </div>
</div>
<div class="row updates">
  <div class="col-sm-12">
    {{cuestionario.Empresa}}
    {{cuestionario.Corte.aprovado}}
    {% for cuestionario in object_list %}
    
    <div class="row align-items-center update">
      <div class="col-sm-9">
        <h3 class="no-margin"><a href="{% url 'validate' pk=cuestionario.pk %}">{{cuestionario.Empresa}}</a></h3>
        <p>actualizó su información, {{cuestionario.updated}}</p>
      </div>
      <div class="col-sm-3">
        <div class="time-left">
          <p class="text-center no-margin">{{cuestionario.aprovado}}</p>
          <p class="no-margin text-center">para que finalize el plazo de validación.</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
    </li>
{% endif %}
    <li class="">
        <span>  {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} .</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
    </li>
{% endif %}
</ul>
{% else %}
    <h3>Your File Exam</h3>
    <p>File not yet available</p>
{% endif %}
  </div>
</div>

{% endblock mainContent %}