{% extends "revisor/base.html" %}

{% block mainContent %}
<div class="row">
  <div class="col-sm-12">
    <div class="instructions">
      <div class="box-header with-border">
        <h3 class="box-title text-center uppercase">instrucciones para validar información</h3>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <p class="text-center no-margin">
          Selecciona el corte correspondiente a la revisión actual.
          Selecciona la empresa que deseas validar.
          Verifica que la liga proporcionada sustente la información actualizada y aprueba la información. Si no es así, selecciona el motivo de rechazo.
          Una vez que verifiques todas las preguntas, oprime el botón de “actualizar”.
        </p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>  
<div class="row">
  <div class="col-sm-10 title">
    <h3 class="text-center uppercase">Cortes</h3>
    <hr>
    <hr>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-lg">{{cuestionario.Corte.fecha_de_corte}}</button>
  </div>
</div>
<div class="row updates">
  <div class="col-sm-12">
    {{cuestionario.Empresa}}
    {{cuestionario.Corte.aprovado}}
    {% for cuestionario in object_list %}
    
    <div class="row align-items-center update">
      <div class="col-sm-9">
        <h3 class="no-margin"><a href="{% url 'validate' pk=cuestionario.pk empresa_pk=cuestionario.Empresa.pk %}">{{cuestionario.Empresa}}</a></h3>
        <p>actualizó su información, {{cuestionario.updated}}</p>
      </div>
      <div class="col-sm-3">
        <div class="time-left">
          <p class="text-center no-margin">{{cuestionario.aprovado}}</p>
          <p class="no-margin text-center">para que finalize el plazo de validación.</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include "pagination.html" %}
  </div>
</div>

{% endblock mainContent %}