{% extends "empresa/base.html" %}
{% block mainContent %}
<div class="col-lg-12">
    <div class="row route" >
        <div class="col-lg-12">
            <p class="route-paragraph">
                HOME > INFORMACIÓN ACTUALIZADA > EMPRESA
            </p>
        </div>
        <hr class="route-hr">
    </div>
    <div class="row">
        <div class="col-lg-12 info">
            <p>AQUÍ VERAS TU INFORMACIÓN ACTUALIZADA UNA VEZ ACEPTADO LOS CAMBIOS</p>
            <p class="info-p">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer 
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-button">
        <button type="button" class="btn btn-danger">
            EDITAR INFORMACIÓN
        </button>
    </div>
    <!-- <div class="row align-items-center justify-content-around" style="background-color: red; padding: 25px 0px; text-align: center;">
        <div class="col-lg-5" style="background-color: #EAEBEA; padding: 20px;">
            hello world
        </div>
        <div class="col-lg-5" style="background-color: #EAEBEA; padding: 20px;">
            hello world
        </div>
    </div> -->
</div>
<div class="col-lg-12 container-questions">
    <div class="row titles">
        <div class="col-lg-6 text-align-center title-container">
            <p class="title-p-border">PREGUNTA</p>
        </div>
        <div class="col-lg-6 text-align-center title-container">
            <p class="title-p">RESPUESTA</p>
        </div>
    </div>
    <div class="row question-answer-container">
        <div class="col-lg-6 question-answer-left">
            <p class="question-answer-left-p">1. ¿La empresa publica en su página web un código de ética o de conducta para empleados?</p>
        </div>
        <div class="col-lg-6 align-self-center question-answer-right">
            <p class="question-answer-right-p">Sí</p>
        </div>
    </div>
    <div class="row question-answer-container">
        <div class="col-lg-6 question-answer-left">
            <p class="question-answer-left-p">2. ¿La empresa publica en su página web una declaración o compromiso anticorrupción / cero tolerancia a la corrupción?</p>
        </div>
        <div class="col-lg-6 align-self-center question-answer-right">
            <p class="question-answer-right-p">Sí</p>
        </div>
    </div>
    <div class="row question-answer-container">
        <div class="col-lg-6 question-answer-left">
            <p class="question-answer-left-p">3. ¿La empresa publica en su página web un compromiso publico con la legalidad y el respeto a las leyes nacionales e internacionales?</p>
        </div>
        <div class="col-lg-6 align-self-center question-answer-right">
            <p class="question-answer-right-p">Sí</p>
        </div>
    </div>
    <div class="row question-answer-container">
        <div class="col-lg-6 question-answer-left">
            <p class="question-answer-left-p">4. ¿La empresa publica en su página web una prohibición explícita de sobornos y pagos facilitadores?</p>
        </div>
        <div class="col-lg-6 align-self-center question-answer-right">
            <p class="question-answer-right-p">Sí</p>
        </div>
    </div>
    <div class="row question-answer-container">
        <div class="col-lg-6 question-answer-left">
            <p class="question-answer-left-p">5. ¿La empresa publica en su página web una política de hospitalidad y viáticos?</p>
        </div>
        <div class="col-lg-6 align-self-center question-answer-right">
            <p class="question-answer-right-p">0.5</p>
        </div>
    </div>
    <div class="row question-answer-last">
        <div class="col-lg-6 question-answer-left">
            <p class="question-answer-left-p">6. ¿La empresa publica en su página web una política de regalos y agradecimientos?</p>
        </div>
        <div class="col-lg-6 align-self-center question-answer-right">
            <p class="question-answer-right-p">0.5</p>
        </div>
    </div>
</div>
<div class="row button-group">
    <div class="col-lg-6">
        <button type="button" class="btn btn-danger">
            VER RESUMEN
        </button>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-9 text-right">
                <button type="button" class="btn btn-danger">
                    GUARDAR CAMBIOS
                </button>
            </div>
            <div class="col-lg-3 text-right">
                <button type="button" class="btn btn-danger">
                    CANCELAR
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock mainContent %}