{% extends "empresa/base.html" %}
{% block mainContent %}
<div class="cajaLogin">
  <div>
    <h3 class="loginTitle">INICIO DE SESIÓN</h3>
    <hr class="hrClass" />
    <hr class="hrClass2" />
  </div>
  <div class="login">
    <form class="login-form">
      <div class="form-group">

        <div class="input-group">
          <input type="usuario" class="form-control" id="usuarioInput"  placeholder="Usuario" />
            <span class="input-group-addon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input type="password" class="form-control" id="passwordInput" placeholder="Contraseña" />
          <span class="input-group-addon">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-danger">ACEPTAR</button>
      <a href="#xxx" class="loginA">Olvide mi contraseña</a>
      <a href="#xxx" class="question-answer-left-a">Registrar una nueva empresa</a>

    </form>
  </div>

</div>

{% endblock mainContent %}
